* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to bottom, #f6ba25, teal, black ) ;
  background-size: cover;
  min-height: 110vh;
  font-family: Proxima Nova;
  color: white;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: white;
  animation-name: zoom_in;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes zoom_in {
  0% {
    color: white;
  }
  25% {
    color: lightblue;
  }
  50% {
    color: lightcoral;
  }
  75% {
    color: lightgreen;
  }
  100% {
    color: white;
  }
}

.welcome_page {
  color: white;
}

ul {
  background: rgb(51, 49, 49);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 40px;
  opacity: (0, 0, 0, 0.2);
}

li {
  display: inline;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 10px;
  padding-top: 10px;
  color: white;
}

li:hover {
  transform: scale(1.5);
  transition-duration: 300ms;
}

a {
  color: white;
}

.content {
 overflow: auto;
}

p {
  color: white;
}

/* Main Page */

/* CV Page */

.cv-viewer{
  display: flex;
  justify-content: center;
  margin-top: 20px ;
}





/* Pitch Page */

.videopitch {
  display: flex;
  justify-content: center;
}

.pitchtext{
  display: flex;
  margin: auto;
  text-align: justify;
  width: 640px;
  height: 300px;
  color: white;
  margin-top: 30px;
}

/* Tech Stack Page */

.techstack-content{
  display: flex;
}

.techstack{
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 90%;
}